app = "wedding-invite-fly"
primary_region = "iad"

[http_service]
auto_start_machines = false
auto_stop_machines = false
force_https = true
internal_port = 8080
min_machines_running = 1
processes = ["app"]

[[vm]]
cpus = 1
memory = "1gb"
memory_mb = 1024
